.navbar__buttons {
  display: grid;
  place-self: center;
  /* place-content: center; */
  grid-auto-flow: column;
  /* grid-template-columns: 1fr 1fr 1fr; */
  width: 50%;
  background-color: rgba(217, 217, 217, 0.21);
  border-radius: 19px;
  height: 65px;
}

.navbar__tittle {
  margin: 20px;
  display: grid;
  gap: 20px;
  place-content: left;
}
