.list__stories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
}

@media (max-width: 700px) {
  .list__stories {
    grid-template-columns: 1fr;
  }
}

.list__container {
  display: grid;
  place-self: center;
  padding: 0 50px;
  max-width: 900px;
}
