.list__stories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
}

.list__container{
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

@media (max-width: 700px) {
  .list__stories {
    grid-template-columns: 1fr;
  }
}
